@model Library.Models.Book

@{
    ViewBag.Title = "Kasowanie bazu danych";
}

@using (Html.BeginForm())
{
    <h2>@ViewBag.Title</h2>
    <br/>


    <br/>
    <br/>

    <h4>@ViewBag.Message</h4>
}

