@{

}

<h2>@ViewBag.Message</h2>

<br/>
<br/>
<br/>
<br/>

<h4>@ViewBag.Name</h4>
<h4>@ViewBag.Location, @DateTime.Now.Year</h4>


<address>
    <strong>Support:</strong>   <a href="mailto:grzegorz.pietrzak321@gmail.com">grzegorz.pietrzak321@gmail.com</a><br />

</address>