@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Biblioteka</h1>
    <p class="lead">Prosta aplikacja pozwalająca zapisać wszystkie książki jakie posiadamy w swoim domu.</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Książki</h2>
        <p>
            Przejdź do listy  książek jakie masz w swojej bibliotece.
        </p>
        <p><a class="btn btn-default" href="~/">Więcej &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>O stronie</h2>
        <p>Szczegóły dotyczące aplikacji.</p>
        <p><a class="btn btn-default" href="~/Home/About">Więcej &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>O mnie</h2>
        <p>Kilka słów o autorze strony.</p>
        <p><a class="btn btn-default" href="~/Home/Contact">Więcej &raquo;</a></p>
    </div>
</div>