@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Błąd";
}

<h1 class="text-danger">Ups... Coś poszło nie tak</h1>
<h2 class="text-danger">Przepraszamy, ale nie możemy obsłużyć twojej prośby. Prosimy o kontakt z administratorem strony z informacją co zrobiłeś, że tutaj trafiłeś. Pomoże to usprawnić działanie naszej strony. Dziękujemy za pomoc! :)</h2>

