@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Konto zablokowane";
}

<hgroup>
    <h1 class="text-danger">Konto zablokowane</h1>
    <h2 class="text-danger">Twoje konto zostało zablokowane, prosimy o kontakt z administratorem strony.</h2>
</hgroup>
